{$TELEMETRY_PUBLIC_HOST} {
	encode zstd gzip

	header {
		Strict-Transport-Security "max-age=31536000; includeSubDomains"
		X-Content-Type-Options "nosniff"
		Referrer-Policy "no-referrer"
		Cache-Control "no-store"
	}

	respond /metrics 404
	reverse_proxy api:8080
}
